<div class="container mt-4">
  <h3>Operations</h3>
  
  <!-- Operations Table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover align-middle">
      <thead class="table-header">
        <tr>
          <th>#</th>
          <th>Client</th>
          <th>Employee</th>
          <th>Amount</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operation of operations| paginate: { itemsPerPage: 5, currentPage: currentPage }; let i = index " >
          <td>{{ i + 1 }}</td>
          <td>{{ operation.clientName }}</td>
          <td>{{ operation.employeName }}</td>
          <td>{{ operation.montant }}</td>
          <td>{{ operation.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination-container">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
  </div>
  <!-- Buttons for Operations -->
  <div class="d-flex justify-content-between mt-3">
    <button class="btn btn-outline-primary" (click)="openVersementModal()">Versement</button>
    <button class="btn btn-outline-danger" (click)="openRetraitModal()">Retrait</button>
    <button class="btn btn-outline-secondary" (click)="openVirementModal()">Virement</button>
  </div>

  <!-- Versement Modal -->
  <div class="modal d-block fade-in" *ngIf="showVersementModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow">
        <div class="modal-header">
          <h5 class="modal-title">Versement</h5>
          <button type="button" class="btn-close" (click)="closeVersementModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="versementForm" (ngSubmit)="submitVersement()">
            <div class="mb-3">
              <label for="client" class="form-label">Client</label>
              <select class="form-control" formControlName="compteId">
                <option *ngFor="let compte of Comptes" [value]="compte.codeCompte">{{ compte.nomClient }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="employee" class="form-label">Employee</label>
              <select class="form-control" formControlName="employeId">
                <option *ngFor="let employee of employees" [value]="employee.codeEmploye">{{ employee.nomEmploye }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="solde" class="form-label">Amount</label>
              <input type="number" formControlName="montant" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="versementForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Retrait Modal -->
  <div class="modal d-block fade-in" *ngIf="showRetraitModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow">
        <div class="modal-header">
          <h5 class="modal-title">Retrait</h5>
          <button type="button" class="btn-close" (click)="closeRetraitModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="retraitForm" (ngSubmit)="submitRetrait()">
            <div class="mb-3">
              <label for="client" class="form-label">Client</label>
              <select class="form-control" formControlName="compteId">
                <option *ngFor="let compte of Comptes" [value]="compte.codeCompte">{{ compte.nomClient }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="employee" class="form-label">Employee</label>
              <select class="form-control" formControlName="employeId">
                <option *ngFor="let employee of employees" [value]="employee.codeEmploye">{{ employee.nomEmploye }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="solde" class="form-label">Amount</label>
              <input type="number" formControlName="montant" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="retraitForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Virement Modal -->
  <div class="modal d-block fade-in" *ngIf="showVirementModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow">
        <div class="modal-header">
          <h5 class="modal-title">Virement</h5>
          <button type="button" class="btn-close" (click)="closeVirementModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="virementForm" (ngSubmit)="submitVirement()">
            <div class="mb-3">
              <label for="clientFrom" class="form-label">Client Sending</label>
              <select class="form-control" formControlName="compteSource">
                <option *ngFor="let compte of Comptes" [value]="compte.codeCompte">{{ compte.nomClient }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="clientTo" class="form-label">Client Receiving</label>
              <select class="form-control" formControlName="compteId">
                <option *ngFor="let compte of Comptes" [value]="compte.codeCompte">{{ compte.nomClient }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="employee" class="form-label">Employee</label>
              <select class="form-control" formControlName="employeId">
                <option *ngFor="let employee of employees" [value]="employee.codeEmploye">{{ employee.nomEmploye }}</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="solde" class="form-label">Amount</label>
              <input type="number" formControlName="montant" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success w-100" [disabled]="virementForm.invalid">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
