<div class="container my-4 mt-">
    <div class="row">
      <!-- Operation Count Card -->
      <div class="col-md-6 mb-4" *ngIf="operationCount !== undefined">
        <div class="card custom-card text-center">
          <div class="card-body d-flex flex-column align-items-center p-4">
            <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle custom-icon-bg">
              <i class="fas fa-cogs fs-1"></i>
            </div>
            <h5 class="card-title fs-4 mb-2">Operations</h5>
            <p class="card-text fs-1 fw-bold">{{ operationCount }}</p>
          </div>
        </div>
      </div>
  
      <!-- Group Count Card -->
      <div class="col-md-6 mb-4" *ngIf="groupCount !== undefined">
        <div class="card custom-card text-center">
          <div class="card-body d-flex flex-column align-items-center p-4">
            <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle custom-icon-bg">
              <i class="fas fa-users fs-1"></i>
            </div>
            <h5 class="card-title fs-4 mb-2">Groups</h5>
            <p class="card-text fs-1 fw-bold">{{ groupCount }}</p>
          </div>
        </div>
      </div>
  
      <!-- Employer Count Card -->
      <div class="col-md-6 mb-4" *ngIf="employerCount !== undefined">
        <div class="card custom-card text-center">
          <div class="card-body d-flex flex-column align-items-center p-4">
            <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle custom-icon-bg">
              <i class="fas fa-id-badge fs-1"></i>
            </div>
            <h5 class="card-title fs-4 mb-2">Employers</h5>
            <p class="card-text fs-1 fw-bold">{{ employerCount }}</p>
          </div>
        </div>
      </div>
  
      <!-- Compte Count Card -->
      <div class="col-md-6 mb-4" *ngIf="compteCount !== undefined">
        <div class="card custom-card text-center">
          <div class="card-body d-flex flex-column align-items-center p-4">
            <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle custom-icon-bg">
              <i class="fas fa-wallet fs-1"></i>
            </div>
            <h5 class="card-title fs-4 mb-2">Accounts</h5>
            <p class="card-text fs-1 fw-bold">{{ compteCount }}</p>
          </div>
        </div>
      </div>
  
      <!-- Client Count Card -->
      <div class="col-md-6 mb-4" *ngIf="clientCount !== undefined">
        <div class="card custom-card text-center">
          <div class="card-body d-flex flex-column align-items-center p-4">
            <div class="mb-3 d-flex align-items-center justify-content-center rounded-circle custom-icon-bg">
              <i class="fas fa-user-circle fs-1"></i>
            </div>
            <h5 class="card-title fs-4 mb-2">Clients</h5>
            <p class="card-text fs-1 fw-bold">{{ clientCount }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  