<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
  <!-- Logo -->
  <a class="navbar-brand" routerLink="/">
   <p class="ms-3" >My Bank</p>
  </a>

  <!-- Toggler button for mobile responsiveness -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/client" routerLinkActive="active-link">Client</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/compte" routerLinkActive="active-link">Compte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employe" routerLinkActive="active-link">Employe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/group" routerLinkActive="active-link">Group</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/operation" routerLinkActive="active-link">Operation</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>